* {
    margin-top: 0px;
    margin-bottom: 0px;
	padding: 0px;
	border: 0;
	font-size: 100%;
	box-sizing: border-box;
}

/*UTILIES*/

main {
    background-color: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 6px;
    padding-bottom: 6px;
}

.container {
    width: 45%;
    margin: 0 auto;
    background-color: white;
    border-radius: 10pt;
}

div {
    padding-left: 40px;
    padding-bottom: 10px;
}

/*HEADER*/

.mark-header {
    padding-left: 10px;
    vertical-align: middle;
}

.text-header {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    vertical-align: middle;
}

/*MAIN*/

.main-header {
    padding-top: 10px;
    border-bottom: 1px solid black;

}

.full-button{
    background-color: #1e90ff;
    color: white;
    padding: 5px;
    border-radius: 0.2rem;
    cursor: pointer;
}

.empty-button{
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 0.2rem;
    padding: 5px;
    cursor: pointer;
}

h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

.description {
    font-size: 1.3rem;
    vertical-align: middle;

}

.check {
    color: green;
    font-size: 0.8rem;
    border: 1px solid green;
    border-radius: 50%;
    padding: 2px;
    vertical-align: middle;
}

.cross {
    color: red;
    font-size: 0.8rem;
    border: 1px solid red;
    border-radius: 50%;
    padding: 2px;
    vertical-align: middle;
}

.label-celeste,
.label-viola,
.label-rosa,
.label-arancione,
.label-verde,
.label-acido {
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-radius: 0.625rem;
    vertical-align: middle;
}

.label-celeste {
    background-color: #45abea;
}


.label-viola {
    background-color: #9c72e4;
}

.label-rosa {
    background-color: #d863a1;
}

.label-arancione {
    background-color: #f29e33;
}

.label-verde {
    background-color: #64c0a9;
}

.label-acido {
    background-color: #b0c926;
}